.button {
    padding: 12px 20px;
    cursor: pointer;
    border-radius: var(--radius);
    height: 44px;
}

.primary {
    background: var(--button-primary-background);
    box-shadow: var(--button-primary-shadow);
    color: var(--alt-color);
}

.secondary {
    background: var(--button-secondary-background);
    box-shadow: var(--button-secondary-shadow);
    color: var(--primary-color);
}

.negative {
    background: var(--negative-color);
    box-shadow: var(--button-negative-shadow);
    color: var(--alt-color);
}

.alt {
    background: var(--button-alt-background);
    box-shadow: var(--button-alt-shadow);
    color: var(--primary-color);
}

.icon {
    width: 20px;
    height: 20px;
}
