.button {
    color: var(--primary-color);
    padding: 10px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
    width: 100%;

    &:hover {
        background: var(--light-grey);
    }

    &.compact {
        width: fit-content;

        .name {
            display: none;
        }
    }
}

.icon {
    width: 25px;
    height: 25px;
    display: block;
}

.active {
    background: var(--menu-active-background);
    &:hover {
        background: var(--menu-active-background);
    }
    .name {
        font-weight: 600;
    }

    .icon {
        color: var(--menu-active-color);
    }
}
