.modal {
    background: var(--modal-background);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    overflow-y: scroll;
}

.container {
    background: var(--app-alt-background);
    border-radius: var(--radius);
    position: relative;
    width: 600px;
    min-height: 300px;
    padding: 25px 40px;
    margin: auto;
    top: 10%;
}

.close {
    width: 24px;
    height: 24px;
    color: var(--dark-grey);
}

.content {
    width: 100%;
}
