.container {
    position: relative;
}

.options {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0px;
    width: 100%;
    box-shadow: var(--default-shadow);
    max-height: 300px;
    overflow-y: scroll;
}

.option {
    padding: 15px 20px;
    width: 100%;
    background: var(--alt-color);
    color: var(--input-color);
    cursor: pointer;

    &.active {
        // background: var(--menu-active-background);
        font-weight: 600;
    }

    &:hover {
        background: var(--light-grey);
    }
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--input-placeholder-color);
    cursor: pointer;
    transition: var(--transition);

    &.rotate {
        transform: rotate(180deg);
    }
}

.input {
    width: 100%;
}
