.option {
    padding: 15px 20px;
    width: 100%;
    background: var(--alt-color);
    color: var(--input-color);
    cursor: pointer;

    &.active {
        // background: var(--menu-active-background);
        font-weight: 600;
    }

    &:hover {
        background: var(--light-grey);
    }
}
