.menu {
    background: var(--app-alt-background);
    padding: 15px;

    width: 260px;
    min-width: fit-content;
    flex-shrink: 0;
    flex-grow: 0;
    transition: var(--transition);
}
.compact {
    width: 50px;
}
