.container {
    padding: 20px;
    background: var(--app-alt-background);
    border-radius: var(--radius);
    max-width: 780px;
}

.picture {
    padding: 20px;
    background: #3cbca9;
    border-radius: 10px;
    align-self: center;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    display: block;
    margin-bottom: 15px;
}

.priceLarge {
    font-size: 32px;
    font-weight: 600;
}

.priceSmall {
    font-size: 16px;
}

.status {
    white-space: nowrap;
    color: var(--dark-grey);
}

.statusContainer {
    height: 100%;
}
