.container {
    padding: 15px 20px;
    width: 100%;
    border-radius: var(--radius);
    background: var(--alt-color);
    color: var(--input-color);
    position: relative;

    textarea {
        color: var(--input-color);
        font-size: 16px;
        width: 100%;
        min-height: 100px;
    }

    textarea::placeholder {
        color: var(--input-placeholder-color);
    }
}

.label {
    color: var(--input-placeholder-color);
    position: absolute;
    left: 8px;
    top: -8px;
    font-size: 14px;
}

.compact {
    padding: 10px;
}

.altBackground {
    background: var(--light-grey);
}
